include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include Makefile
include requirements*.txt
include tox.ini

graft docs
graft examples
graft tests

recursive-include chartify *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
