-r requirements.txt

-e .
twine==4.0.0
watchdog==3.0.0
flake8==4.0.1
tox==4.4.7
coverage==7.2.2
Sphinx==6.1.3
commonmark==0.9.1
recommonmark==0.7.1

pytest==7.2.2
pytest-cov==4.0.0
coverage-badge==1.1.0
pytest-runner==6.0.0
importlib-metadata==6.1.0
black==23.1.0
